<footer class="mb-5">
  <p class="text-center text-sm text-slate-500">
    Â© {new Date().getFullYear()} MLOps.Ninja
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Powered by <a class="hover:underline text-fuchsia-700" href="https://astro.build/">Astro</a>
    |
    Design by <span class="font-bold">MLOps.Ninja</span> based on<a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline text-sky-500">
      Web3Templates
    </a>
  </p>
</footer>
